<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.idslatam.solmar">


    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Request permission to use a device camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Don't require camera, as this requires a rear camera. This allows it to work on the Nexus 7 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <!-- TODO replace above two with next line after Android 4.2 -->
    <!-- <uses-feature android:name="android.hardware.camera.any"/> -->
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:clearTaskOnLaunch="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:stateNotNeeded="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Api.Singalr.MainActivity" />
        <activity
            android:name=".View.Bienvenido"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.RegisterNumber"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".View.Login"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".View.MenuPrincipal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Settings.AccessSettings"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".View.Code.CodeBar"
            android:noHistory="true"
            android:screenOrientation="landscape" />

        <service
            android:name=".Tracking.Services.LocationFusedApi"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Tracking.Services.Recognition"
            android:exported="false" />
        <service
            android:name=".Api.Singalr.SignalRService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".SettingsDevice.Configurations.ServiceAccessSettings"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".Tracking.Broadcast.AlarmLocation"
            android:enabled="true"
            android:exported="true" />
        <receiver android:name=".SettingsDevice.BootSettings">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED">
                    <category android:name="android.intent.category.HOME" />
                </action>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BravoPapa.BravoPapaReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".BravoPapa.ScreenReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>

        <service
            android:name=".BravoPapa.SoundService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".BravoPapa.VolumeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.VOLUME_CHANGED_ACTION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Alert.Broadcast.AlarmAlert"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.desmond.squarecamera.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dialer.ContactosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dialer.ContactosDetalles"
            android:screenOrientation="portrait" />
        <activity android:name=".ImageClass.Image"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.Code.Scan"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.Perfil"
            android:screenOrientation="portrait"/>
        <activity android:name=".Alert.AlertActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>